extends layout

block content
    h1= title
    p
        font(color='DodgerBlue') username 
        | 님 환영합니다

    #bingo_board
        table#board_table
            tr
                td
                td
                td
                td
                td
            tr
                td
                td
                td
                td
                td
            tr
                td
                td
                td
                td
                td
            tr
                td
                td
                td
                td
                td
            tr
                td
                td
                td
                td
                td
    textarea#list(readonly='')
    textarea#logs(readonly='')
    #username(style='display:none') #{username}